.main {
  width: 400px;
  margin: 100px auto;  
  padding: 15px;
  border: 2px solid #ccc;
  box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.56);
  border-radius: 8px;
}
h3{
    text-align: center;
    font-size: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    padding: 10px 12px;
}
.buttons{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
    button{
        font-size: 1.2rem;
        border: none;
        outline: none;
        border: 0.22px solid gainsboro;
        transition: 1s;
        padding: 7px 12px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.submit:hover{
    background-color: #74E79E;
}
.reset:hover{
    background-color: #964444b7;
}
.ans{
    font-size:1.5rem ;
    color: #65bad6;
}
@media (max-width:460px) {
    .main{
        width: 90%;
        padding: 10px;
    }
}