/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(156, 163, 175), rgb(75, 85, 99), rgb(30, 64, 175));
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    min-height: 450px;
    width: 30%;
    background-color: #fff;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px) saturate(150%) brightness(1.1);
    -webkit-backdrop-filter: blur(12px) saturate(150%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: rgba(223, 223, 231, 0.948);
}

h2 {
    text-align: center;
    padding-bottom: 30px;
}

.handleinput {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .inputvalue {
        width: 80%;
        margin-top: 50px;
        border: none;
        outline: none;
        padding: 10px 15px;
        font-size: 1.1rem;
        font-family: sans-serif;
        border: 1px solid transparent;
    }

    .inputvalue:hover {
        border: 1px solid rgba(41, 95, 41, 0.723);
    }
}

.handleCurrencys {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.arrow {
    height: 30px;
}

.title {
    font-size: 1.1rem;
    font-weight: 700;
}

.select {
    background-color: transparent;
    padding: 7px 15px;
    font-size: 1.1rem;
    color: rgba(93, 222, 179, 0.926);
}


.final {
    width: 100%;
    padding-right: 50px;
    margin-top: 30px;
    text-align: center;

    button {
        background-color: transparent;
        margin-top: 20px;
        padding: 8px 10px;
        font-size: 1.2rem;
        border: none;
        outline: none;
        color:#fff;
    }
} */

body {
  background: #0f172a;
  color: white;
  font-family: sans-serif;
}

.main {
  max-width: 380px;
  margin: 80px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 12px;
}

.handleCurrencys {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.currency-box {
  flex: 1;

}

.select,
.inputvalue {
  width: 90%;
  padding: 8px;
  margin-top: 20px;
  border-radius: 6px;
}

.arrow {
  width: 32px;
  cursor: pointer;
  margin-top: 35px;
  padding-right: 5px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border: none;
  background: #22c55e;
  color: black;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.result {
  margin-top: 12px;
  text-align: center;
}
